.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.article-wrapper {
  flex: 1;
  border: solid var(--border-width) var(--color-gray);
  border-radius: var(--border-radius);
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
